/* 전역 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* 전역 폰트 설정 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

